* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(90deg, #3b3380, #4a73be, #69b5f4);
  background: linear-gradient(90deg, #3b3380, #4a73be, #69b5f4);
}
